---
import carouselJson from '../../public/jsonData/carousel.json'
interface Carousel{
  img: string;
  alt: string;
  link?: string;
}

const carouselData : Carousel[] = carouselJson;

---
  <div class="gallery-wrap">
    <!-- <svg id = "backBtn" xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24" {...props}>
      <path fill="black" d="M19.793 3.441v17.118a1.243 1.243 0 0 1-1.83 1.19L3.329 12.991a1.184 1.184 0 0 1 0-1.982l14.634-8.758a1.243 1.243 0 0 1 1.83 1.19" />
    </svg> -->
    <div class="gallery">
      <div>{
        carouselData.slice(0, 4).map((slide) => {
          return (
            <span>
              <a href={slide.link} target="_blank">
                <img src={slide.img} alt={slide.alt} />
              </a>
            </span>
          );
        })
      }</div>
      <div>{
        carouselData.slice(4).map((slide) => {
          return (
            <span>
              <a href={slide.link} target="_blank">
                <img src={slide.img} alt={slide.alt} />
                </a>
            </span>
          );
        })
      }
      </div>
    </div>
    <!-- <svg id = "nextBtn" xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24" {...props}>
      <path fill="black" d="M19.793 3.441v17.118a1.243 1.243 0 0 1-1.83 1.19L3.329 12.991a1.184 1.184 0 0 1 0-1.982l14.634-8.758a1.243 1.243 0 0 1 1.83 1.19" />
    </svg> -->
</div>



<style>

  .gallery{
    width: 100vh;
    display: flex;
    overflow-x: scroll;
  }

  .gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 80px;
    padding: 10px;
    flex: none;
  }
  .gallery div span{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery div img{
    width: 100%;
    transition: transform 0.5s;
  }

  .gallery::-webkit-scrollbar{
    display: none;
  }
  .gallery-wrap{
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  /* #nextBtn{
    transform: rotateY(180deg);
  }

  #backBtn, #nextBtn{
    width: 3vh;
    cursor: pointer;
    margin: 0 15vh;
  } */

  @media screen and (max-width: 868px){
    .gallery div{
      grid-gap: 70px;
    }
    /* #backBtn, #nextBtn{
      margin: 0;
    } */
  }

</style>

<script>

  let scrollContainer : HTMLElement | null = document.querySelector(".gallery");
  // let nextBtn : HTMLElement | null = document.getElementById("nextBtn");
  // let backBtn : HTMLElement | null = document.getElementById("backBtn");

  scrollContainer?.addEventListener("wheel", (e)=>{
    e.preventDefault();
    scrollContainer.scrollLeft += (e as WheelEvent).deltaY;
    scrollContainer.style.scrollBehavior = "auto";
  });

  // nextBtn?.addEventListener("click", ()=>{
  //   if(scrollContainer){
  //     scrollContainer.style.scrollBehavior = "smooth";
  //     scrollContainer.scrollLeft += 900;
  //   }
  // });
  
  // backBtn?.addEventListener("click", ()=>{
  //   if(scrollContainer){
  //     scrollContainer.style.scrollBehavior = "smooth";
  //     scrollContainer.scrollLeft -= 900;
  //     console.log(scrollContainer.scrollLeft);
  //   }
  // });

</script>